<h2>Ruby on Rails 指南 (<%= @edge ? @version[0, 7] : @version %>)</h2>
<br>
<p>
  这些指南基于 Rails 的 <a href="https://github.com/rails/rails/tree/<%= @version %>">master</a> 分支翻译而成。
</p>
<p>
  这些精心撰写的指南帮助您快速上手，快速全面地了解 Rails。
</p>
<p>
  稳定版本的指南（Rails 4.1.2），请参考
  <a href="http://guides.rubyonrails.org">http://guides.rubyonrails.org</a>。
</p>
<p>
  其它版本：<a href="http://guides.rubyonrails.org/v4.0.6/">Rails 4.0.6</a>、<a href="http://guides.rubyonrails.org/v3.2.18/">Rails 3.2.18</a>、<a href="http://guides.rubyonrails.org/v2.3.11/">Rails 2.3.11</a>。
</p>